/* COMMON */
body{
  /* 기본(공통) 스타일 */
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  /* 위 속성들은 모두 상속되었기에 전체 스타일을 한번에 제어 */
}

a {
  text-decoration: none;
}

.inner{
  /* 고정 길이=고정형 */
  /* width: 1100px; */
  /* 최대값만 제한=반응형 */
  max-width: 1100px;
  /* 가로 너비를 가진 블록 요소를 부모 안에서 가운데 정렬 */
  margin: 0 auto;
  /* inner div 기준으로 내부 요소를 absolute로 배치하기 위해서이다. */
  position: relative;
}

/* HEADER */
header{
  background-color: royalblue;
}

header > .inner {
  background-color: orange;
  height: 120px;
}

header > .inner > .logo {
  position: absolute;
  height: 75px;
  
  /* 로고의 수직 가운데 배치 */
  top: 0;
  bottom: 0;
  margin: auto;

}

header .sub-menu{
  /* 부모 요소(.inner)에 position 값이 있는지 확인 */
  position: absolute;
  top: 0px;
  right: 0;

  /* 자식 요소(메뉴와 검색영역)를 수평 배치 */
  display: flex;
}

header .sub-menu ul.menu{
  /* 메뉴 아이템(li)들을 수평배치 */
  display: flex; 
  font-family: Arial, sans-serif; 

} 

header .sub-menu ul.menu li a {
  display: block; /* 상하 여백 적용을 위해 변경*/
  padding: 11px 16px; /* 클릭할 수 있는 영역을 넓혀주는 효과*/
  font-size: 13px;
  color: #656565;
} 

header .sub-menu ul.menu li{
  position: relative;
}

header .sub-menu ul.menu li::before{
  /* 부모 요소에 위치 기준 */
  display: block;
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menu ul.menu li{
  /* 메뉴 아이템 사이 구분선 */
  color: #000; /*필수 속성*/
}

header .sub-menu .search input{
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width 0.4s;
}

/* input에 포커스 됐을 때 변화 */
header .sub-menu .search input:focus{
  width: 130px;
  /* border: 2px solid white; */
}

header .sub-menu .search{
  position: relative;
  height: 34px;

}

header .sub-menu .search .material-icons {
  
  height: 24px; /* 수직 가운데 배치를 위한 세로 높이 */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
}
